<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<a th:href="@{/add_story}">Add Story</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>User Title</th>
        <th>User Story</th>
        <th>Acceptance Criteria</th>
        <th>Business Value</th>
        <th>Estimation</th>
        <th>Status</th>
    </tr>
    </thead>
    <tr th:each="story: ${user_stories}">
        <td th:text="${story.id}"></td>
        <td th:text="${story.title}"></td>
        <td th:text="${story.description}"></td>
        <td th:text="${story.acceptanceCriteria}"></td>
        <td th:text="${story.businessValue}"></td>
        <td th:text="${story.estimation}"></td>
        <td th:text="${story.status}"></td>
    </tr>
</table>
</body>
</html>