<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
</head>
<body>
<!--<a th:href="@{/add_note}">Add Note</a>-->
<table>
  <tr th:each="story: ${user_stories}">
    <td th:text="${story.id}"></td>
    <td th:text="${story.title}"></td>
    <td th:text="${story.description}"></td>
    <td th:text="${story.status}"></td>
    <td th:text="${story.acceptanceCriteria}"></td>
    <td th:text="${story.estimation}"></td>
  </tr>
</table>
</body>
</html>